
.optionsContainer{ 
    background: var(--bg-brand-2nd); 
    color:var(--text-onBgBrand);
  // linear-gradient(180deg, #242424 0%, #060505 100%);
  }
  
  .optionsDivider{
    border-color:  var(--bg-brand-contrast); 
  }

  