.splide__arrow {
}
.splide__arrow:disabled {
  opacity: 0;
  pointer-events: none;
}
.splide__arrow {
  color: var(--gameslider-nav-text);
  background: var(--gameslider-nav-bg);
  border: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .7;
  padding: 0;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  width: 1.5em; 
  height: 1.5em;
  z-index: 1;
  font-size: 1.5em;
}