
// aside {
//    --bg-body :  var(--popup-bg);
//    --bg-head : var(--popup-head-bg);
//    --text-brand :   var(--popup-text-accent);
//    --info-wrap-bg :   var(--popup-info-b);
//    --light-bg :   var(--popup-light-bg);
//    --text-dark :  var(--popup-text-dark)  ; 
//    --text-light :   var(--popup-text-light);

// }

.helpPopUpMenu {
   background: var(--bg-3rd);
   & li:hover{
     background:var(--bg-4th);
   }
   width: 200px; 
}

.menuTab{
   color: var(--text);
}
.line{
   background: #57636D;
   height: 1px;
}
