:root{
  --bg-listItem :radial-gradient(100% 100% at 50% 0%, #ffd8cf 0%, rgba(0, 0, 0, 0.00) 100%) ; 
  --bdr-onListItem : 1px solid #B84429; 
  
   /*New*/
 
 /* home */
 --lwd-shape-bg: #a69e92; 
 
 
 /* carousel */
 --carousel-dot-bg: #cccccc;
 --carousel-dot-active-bg: #0b72e7;
 /* carousel end */
    
  /*
  
  /*scoped home page vars */
  /*on mobile home hav*/
   --bg-homeNav:linear-gradient(180deg, var(--text-brand) 0%, var(--bg-2nd) 100%);
  /*home promotions*/
   --bg-homeContent:radial-gradient(67.44% 94.21% at 50% 5.79%, #D3C19E 0%, #652617 100%);
   --text-onHomeContent: white ;
    
  --bg-homeListContent : linear-gradient(180deg,  var(--bg-2nd) 0%,  var(--bg-4th) 100%); 
   --shadow-homeListContent :  var(--shadow);  /*for Light Mode, use shadow */
   
  

   /*OLD*/

 

   }