/* jackpot used characters - all weights */
@font-face {
    font-family: 'clarendon-serial-heavyregular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://files.sitestatic.net/assets/fonts/jackpot/clarendon-serial-heavyregular/all-weights.woff2?v=2) format('woff2');
    unicode-range: U+0024 , U+002B-0039 , U+0041-005A, U+00A3,U+00A5; /*$, + , - .  0-9 , A-z, Euro dollar, Yen dollar*/
  } 
 
  @font-face {
    font-family: 'clarendon-serial-heavyregular';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://files.sitestatic.net/assets/fonts/jackpot/clarendon-serial-heavyregular/all-weights.woff2?v=2) format('woff2');
    unicode-range: U+0024 , U+002B-0039 , U+0041-005A, U+00A3,U+00A5; /*$, + , - .  0-9 , A-z, Euro dollar, Yen dollar*/
  } 
  
  @font-face {
    font-family: 'clarendon-serial-heavyregular';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://files.sitestatic.net/assets/fonts/jackpot/clarendon-serial-heavyregular/all-weights.woff2?v=2) format('woff2');
    unicode-range: U+0024 , U+002B-0039 , U+0041-005A, U+00A3,U+00A5; /*$, + , - .  0-9 , A-z, Euro dollar, Yen dollar*/
  } 

  @font-face {
    font-family: 'clarendon-serial-heavyregular';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://files.sitestatic.net/assets/fonts/jackpot/clarendon-serial-heavyregular/all-weights.woff2?v=2) format('woff2');
    unicode-range: U+0024 , U+002B-0039 , U+0041-005A, U+00A3,U+00A5; /*$, + , - .  0-9 , A-z, Euro dollar, Yen dollar*/
  } 
 