
.accordion-list{
    
   
    .collapse-title{
        background: var(--bg-2nd);
       color: var(--text);
    }
    .accordion-content{
       background: var(--bg-2nd); 
       color:var(--text);
    }
}