
.footer{
    background: var(--bg-2nd);
    color: var(--text-2nd);
} 

.divider{
    background: var(--text-3rd);
    // background: var(--bg-4th);
    height: 1px;
}
.title{
    color:var(--text); 
    
    //color: #fff;
    font-weight: bold;
}