
// .title{
//     background: linear-gradient(90deg, #F7D2A0 0%, #CF8429 100%);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     background-clip: text;
//     text-fill-color: transparent;
    
//     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
// }


.fade-in-bottom {
    --fade-in-translateY : 20px; 
    --animate-delay :1s;
}
.contacts-container .fade-in-bottom {
    --fade-in-translateY : 150px; 
    --animate-delay :1s;
    --animate-duration :2s;
 }
 
  h2.animate{
    --animate-delay: 0.5s;
    --slide-in-translateY: 20px; 
  }
.grid-games.animate {
    --animate-delay: 2s;
}

.slide-in-br.animate ,.slide-in-tl.animate {
  --animate-delay: 0.5s; 
  --animate-duration: 2s;
}

.trxs .title.animate {
  --animate-delay: 2s; 
}

.trxs-slider.animate {
    --animate-delay: 3s;
    --fade-in-translateY : 100px; 
}

 

.sectionTitle__home, .sectionTitle__home--accent{

  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // background-clip: text;
  // text-fill-color: transparent;
}
 
.gradient__brand-secondary {
  stop-color: var(--lwd-shape-bg);
}

.gradient__brand {
  stop-color: var(--lwd-shape-bg);
}




