
.playBtn{
  color: #000;
  background: linear-gradient(360deg, #B7870C -11.76%, #EED904 76.75%, #F4E303 87.21%, #97640E 122.06%);
}

.demoBtn{
  border: 2px solid #392903;
  color: #000;
}

.rtpWrapper{
  background: #213043;
  border: 1px solid #CFDFE5
}

.rtpText{
  color: #00E701;
}


.playBtn, .demoBtn{
  transition: transform 500ms;
}

.playBtn:hover, .demoBtn:hover{
  transform: translateY(-5px);
}