--text-muted :#707070;
--bg-secondary: #090909;
--container-bg: #FFF7E7;
--container-text-color: #000000;
--section-title-color: #652617;
--spicr-nav-color: #000000;


--modal-v1-bg: #270D00;
--modal-v1-text-color: #ffffff;

/* header */
--header-bg: #E9DDC3;
--header-mob-bg: linear-gradient(180deg, #A65845 0%, #C78248 100%);
--header-icon-bg: #B84429;
--header-icon-color: #ffffff;
--mob-header-icon-bg: #B84429;
--wallet-ref-icon-color: #ffffff;
--mob-header-color: #D0C1FF;
--topbar-bg: linear-gradient(180deg, #A65845 0%, #C78248 100%);
--topbar-login-bg: linear-gradient(180deg, #A65845 0%, #C78248 100%);
--topbar-login-text: #ffffff;
--header-btn-bg: linear-gradient(180deg, #EBEBEB 0%, #BCB8AD 100%);
--header-btn-text: #000000;
--game-bg-img:none;
--mainmenu-text-color: #ffffff;
--mobmenu-icon-color: #213F75;
--ann-marquee: #fff;




/* header end*/

/* button */
--primary-btn-bg: radial-gradient(100% 584.36% at 0% 51.43%, #FCE151 0%, #8F2A12 100%);
--primary-btn-color: #ffffff;
--primary-btn-hover-bg: radial-gradient(100% 584.36% at 0% 51.43%, #FCE151 0%, #8F2A12 100%);
--primary-btn-gradient-bg: radial-gradient(100% 584.36% at 0% 51.43%, #FCE151 0%, #8F2A12 100%);
--muted-btn-bg: #8B8B8B;
--muted-btn-color: #ffffff;
--history-btn-bg: #241C3C;
--history-btn-color: #ffffff;
--history-btn-bd-color: #0DB7BE;
--logout-btn-bg: radial-gradient(100% 584.36% at 0% 51.43%, #FCE151 0%, #8F2A12 100%);
--logout-btn-color: #ffffff;

/* button end*/

/* promotion */
--promo-title-text-color: #F1B98E;
--promo-desc-text-color: #AFA296;
--promo-add-btn-bg: #D7D7D7;
--promo-add-btn-text-color: rgba(95, 95, 95, 1);
--promo-add-btn-hover-bg: #3e8e41;
--promo-add-btn-hover-text: #ffffff;
--promo-reg-btn-bg:  #4B3D32 ;
/* promotion end*/

/* home */
--gameslider-item-bg: radial-gradient(100% 100% at 50% 0%, #5C5A5A 0%, rgba(0, 0, 0, 0) 100%);
--gameslider-item-active-bg: linear-gradient(180deg, #E4771F 0%, rgba(121, 70, 29, 0) 100%);
--gameslider-img-bg: #000000;
--gameslider-nav-bg: #000000;
--gameslider-nav-text: #cccccc;
--trx-title-bd-color: linear-gradient(180deg, #79461D 0%, rgba(121, 70, 29, 0) 100%);
--trx-title-box-bg: radial-gradient(100% 749.03% at 0% 44.74%, #1B1A1A 0%, #020316 100%);
--trx-title-active-bg: linear-gradient(270deg, #7956ED 0%, #395FFE 100%);
--trx-slider-text-color: #D9D9D9;
--trx-slider-bg: linear-gradient(180deg, #79461D 0%, rgba(121, 70, 29, 0) 100%);
--trx-slider-box-bg: radial-gradient(100% 749.03% at 0% 44.74%, #1B1A1A 0%, #020316 100%);
--trx-slider-gradient-title: linear-gradient(180deg, #A5A3A1 0%, #FEFEFE 37.29%, #ADABA9 70.1%, #FFFFFF 100%);
--contact-box-bg: radial-gradient(100% 100% at 50% 0%, #222987 0%, rgba(0, 0, 0, 0) 100%);
--contact-box-bd-color: #5F2FFA;
--contact-box-desc-1: #969595;
--contact-box-desc-2: #C5C5C5;
--withdraw-box-bg: radial-gradient(67.44% 94.21% at 50% 5.79%, #D3C19E 0%, #652617 100%);
--deposit-box-bg: radial-gradient(67.44% 94.21% at 50% 5.79%, #D3C19E 0%, #652617 100%);

--bg-promoContent:linear-gradient(180deg, #a65948 0%, #000000 100%);
--home-promo-arrow-bg:#575656;
--home-promo-arrow-bd-color:#575656;
/* home end*/

/* carousel */
--carousel-dot-bg: #cccccc;
--carousel-dot-active-bg: #0b72e7;
/* carousel end*/

/* member level */
--memberlvl-icon-bg: linear-gradient(to right, #DBBE91, #79461D);
--memberlvl-new-bg: #ffffff;
--memberlvl-label-color: #BAB6B6;
--memberlvl-value-color: #C5B7B7;
--memberlvl-desc-bg: radial-gradient(100% 100% at 49.95% 0%, #2A365F 0%, #141427 43.92%, #00011D 100%);
--memberlvl-desc-inner-bg: #0B0C30;
--memberlvl-desc-bg2: #FFA800;
--gold-lvl-bg: linear-gradient(90deg, #DBBE91 0%, rgba(121, 70, 29, 0.95) 100%);
--gold-lvl-text-color: #ffff00;
--new-lvl-bg: #ffffff;
--new-lvl-text-color: #ffffff;
/* member level end*/

/* profile */
--profile-container-bg: #e9e9e9;
--profile-container-text : #000000;
--profile-muted-bg: #8f8f8f;
--field-text-color :#000000;


--note-bg: #391800;
--note-text-color: #ffffff;
/* profile end*/




/* input fields */
--bg-input-disabled: #ffffff;
--bg-input: transparent;
--text-input: #000000;
--bg-modal: #ffffff;
--text-modal: #000000;
--bg-input: #ffffff;
--input-muted-hover-bd-color: #B84429;
--input-muted-dark-bg: #d4d4d4;
--bdr-input: #b4b4b4;
--input-muted-dark-bd-color: #909191;
--input-icon-bg: #6435FA;
--input-icon-text: #55657e;
--toggle-btn-bg: #585858;
--toggle-btn-bd-color: #858586;
--file-input-bg: #BDA06E;
--btn-file: #2F3233;
--bdr-onBtnFile: #ffffff;
--toggle-btn-active-bg: #F5FFEE;
--toggle-btn-color: #ffffff;
--toggle-btn-active-color: #00FF0A;
/* input fields end*/

/* tabmenu */

--tabmenu1-btn-color: #ffffff;
--tabmenu1-btn-active-color: #ffffff;
--tabmenu1-bg : #652617;
--tabmenu1-active-bg: radial-gradient(67.49% 94.21% at 50.04% 5.79%, #D3C19E 0%, #652617 100%);
--tabmenu1-active-bd-color: transparent;
    





--tabmenu3-bg: #e9e9e9;
/* tabmenu end*/
/* table */
--pagination-item-color: #000000;
--pagination-item-bg: #E9E2FF;
--pagination-item-hover-bg: #c1a9dc;
--tbl-row-muted-bd-color: #D1D0D6;
--tbl-row-muted-bg: #c5c5c5;
--tbl-row-dark-bg: #0a0a0a;
--tbl-row-light-text: #ffffff;
--tbl-muted-dark-text: #828282;
/* table end*/

/* deposit */
--bg-payopt: #E4C1AC;
--text-onPayopt: #000000;
--bg-payopt-active: radial-gradient(67.49% 94.21% at 50.04% 5.79%, #D3C19E 0%, #652617 100%);
--text-onPayOpt-active: #000000;
--bdr-onPayOpt-active: #00FFFF;
--bg-payOptFlag: rgba(128, 152, 146, 1);
--bg-payOptFlag-active: rgba(0, 166, 126, 1);
--text-onPayOptFlag: #000000;
--bg-payOptMethod: #241C3C;
--bg-payDetail: linear-gradient(180deg, #E1C8A0 0%, rgba(214, 229, 234, 0) 100%);
--bg-appyPromo: #bff5de;
--text-onAppyPromo: #000000; 
--bg-bonusEvt: #bff5de;
--bdr-onBonusEvt: #156f4a;
--bg-eventDesc: #777777;
--text-onEventDesc: #ffffff;
/* deposit end*/

/* referral */
--ref-close-icon-bg: #02c793;
--ref-lvl1-icon-bg: #8f96a1;
--ref-lvl1-icon-color: #000000;
--ref-lvl2-icon-bg: #8263ff;
--ref-lvl2-icon-color: #c9bdff;
--ref-lvl3-icon-bg: #02cd9b;
--ref-lvl3-icon-color: #5dd9b6;
--ref-content-color:  #ffffff;
/* referral end*/

/* memo */
--memo-bg: #ffffff;
--memo-bd-color: #D0D0D0;
--memo-del-btn-bg: #F4F4F4;
--memo-del-btn-bd-color: #B1B6B6;
--memo-text-light: #808080;
--memo-text-dark: #524D4D;
--memo-text-darker: #212223;
/* memo end*/

/* checkbox */
--cbx-bg : #ffffff;
--cbx-color : #FFEBDF;
--cbx-bd-color : #ABABAB;
/* checkbox end*/

/* GameListing */
--provider-slider-arrow: #B6B6B6;
--provider-list-bg: #0E0600;
--provider-img-bd-color: #7A7A7A;
--game-search-input-bg: #983422;
--game-search-input-text: #ffffff;
--bg-labelHot: linear-gradient(180deg, #FF0000 0%, #E00A0A 84.37%);
--text-onLabelHot: #ffffff;
--bg-labelNew: linear-gradient(180deg, #3B37FD 0%, #0400C5 100%);
--text-onLabelNew: #ffffff;
--game-item-bg: #0E0600;
--sublobby-container-bg: #FFF7E7;
--sublobby-container-text: #ffffff;
/* GameListing end*/

/* Lobby Game Listing*/
--lobby-gameitem-bg: #0E0600;
--lobby-gameitem-bd-color: #c78248;
--bg-imgOverlay: linear-gradient(180deg, rgba(0, 0, 0, 0) 12.19%, #020316 85.19%);
/* Lobby Game Listing end*/

/* contactbox*/
--contactbox-bg: linear-gradient(180deg, #A75748 0%, #C1947300 100%);
/* contactbox end*/

/* footer*/
--footer-bg: #161618;
--social-icons: #000000;
--footer-menu-text: #FFFFFF;
--footer-muted-text: #AAAAAA;
--footer-collapse-bg: #232323;
--footer-collapse-hover-bg: #232323;
--footer-collapse-text: #FFFFFF;
--footer-collapse-hover-text: #ffffff;
--footer-collapse-arrow: #FFF;
--bottombar-active-bg: linear-gradient(180deg, #A65845 0%, #C78248 100%);
--bottombar-active-text: #ffffff;
/* footer end*/

/*modal*/
--modal-bg:#270D00;
--modal-text-color: #ffffff;
--modal-close-color: #ffffff;
/*modal end*/

--popup-icon-bd-color : transparent;
--popup-icon-color : #20D4E0;
--popup-icon-light-bg : #B84429;
--popup-icon-text : #ffffff;
--sidenav-menu-text: #D0A99A;


/*from css vars*/

--text-onPromoContent: white ;
--home-promo-arrow-bg:#575656;
--home-promo-arrow-bd-color:#575656;

--text-color: #ffffff; 
--text-dark-color: #ffffff;
--text-muted:  #858585;
--bg-color:linear-gradient(180deg, #EBE3E0 0%, #E9DDC3 100%);
--nude-btn-color:#000000;
--nude-btn-bd-color:transparent;
--page-title-bd-color:  #F19A7F;
--text-brand:#FFB120;

--h2-text-colorr: #AAA487;
--muted-bd-color: #eeeeee;
--muted-bg: #031538;
--page-title-bg: #ffffff;
--page-title-color: #902A12;
--page-title-sm-bg: transparent;
--page-title-sm-color: #902A12; 

--scroller-bg: rgb(106, 106, 106) darkgrey;
--bg-scrollbarTrack: #d9d9d9;

--bg-scrollbarThumb: radial-gradient(100% 100% at 50% 0%, #1b1a1a 0%, #000000 100%);
--bdr-scrollbarThumb: #d9d9d9;
 /* promotion */
--event-card-bg-color: #0E0600;
 /* promotion end*/
 
--tabmenu2-text-color : #838383;
--tabmenu2-active-text-color: #ffffff;
--tabmenu2-active-bd-color: #ef311f;

--tabmenu3-text-color : #242424;
--tabmenu3-active-text-color: #000000;
--tabmenu3-active-bd-color: #6435FA;

/* profile popup */
--popup-bg : #161618;
--popup-head-bg : #282829;
--popup-text-accent : #5F331E;
--popup-icon-bg : #421B08;
--popup-info-bg : radial-gradient(100% 66.42% at 0% 48.16%, #FCE151 0%, #8F2A12 100%);
--popup-light-bg : #ffffff;
--popup-text-dark : #000000;
--popup-text-light : #ffffff;
/* profile popup end*/
  /*home*/
--lwd-shape-bg:#a69e92;
--ld-corner-bg: #beaa87;
/*home end*/ 
   
