
 
 .menu-text-color{
    color : var(--tabmenu2-text-color);
 }

 .menu-active-text-color{
    color : var(--tabmenu2-active-text-color);
 }

 
 .menu-active-bd-color{
    color : var(--tabmenu2-active-bd-color);
 }