

.profile-inner-container{
    background: var(--profile-container-bg);
    color: var(--profile-container-text);
}
.slider{
    background: var(--toggle-btn-active-bg);
        border: 1px solid var(--toggle-btn-bg);
    &::before{
        content: "";
        position: absolute;
        display: inline-block;
        height: 18px;
        width: 18px;
        left: 4px;
        bottom: 3px;
        background: var(--toggle-btn-active-color);
        transition: all;
        border-radius: 50%;
        transform: translateX(26px);
    }
}
 
.label-danger {
  background-color: red;
  color: white;
}
.label-info {
  background-color: blue;
  color: white;
}
.label-success {
  background-color: green;
  color: white;
}
@media only screen and (min-width: 1024px) {
    // .profile-field-text{
    //     color: var(--text-2nd);
    // }
    .profile-outer-container{
        background-color: var(--profile-container-bg); 
    }
    .field-box{
        background: transparent;
        border: 0;
        color:inherit;
    }
}