:root{

    
  /* NEW */

/* referral */
/* --ref-close-icon-bg */
--icon-refClose: #02c793;
/* --ref-lvl1-icon-bg  */
--text-refColumn: #8f96a1;
/* --ref-lvl2-icon-bg: #8263ff; */
--text-refColumn-2nd: #8263ff; 
/* --ref-lvl2-icon-color: #c9bdff; */
--text-refColumn-3rd: #c9bdff;
/*   
/* referral end*/


/* Lobby Game Listing*/
/* --lobby-gameitem-bg: #171317;
--lobby-gameitem-bd-color: #7B41FF;
--bg-imgOverlay: linear-gradient(180deg, rgba(0, 0, 0, 0) 12.19%, #020316 85.19%); */
/* Lobby Game Listing end*/
/* Lobby Game Listing*/
--bg-lobbyGame: #000000;
--bdr-onLobbyGame: var(--text-brand);  /* #00fe00; */
--text-onLobbyGame: var(--text);
--bg-imgOverlay: linear-gradient(180deg,#4C9673 0%, #10352E 0.01%, rgba(102, 90, 163, 0) 100%);
/* Lobby Game Listing end*/

 
/* --bg-labelHot */
--bg-labelHot: linear-gradient(180deg, #FF0000 0%, #E00A0A 84.37%);
/* --text-onLabelHot */
--text-onLabelHot: #ffffff;
/* --bg-labelNew */
--bg-labelNew: linear-gradient(180deg, #3B37FD 0%, #0400C5 100%);
--text-onLabelNew: #ffffff;
/* --text-onLabelNew */

/* GameListing end*/


/* deposit */
--bg-payopt: #ededed;
--text-onPayopt: #000000;
--bg-payopt-active: #f2effa;
--text-onPayOpt-active: #000000;
--bdr-onPayOpt-active: #5f2efa;
--bg-payOptFlag: rgba(128, 152, 146, 1);
--bg-payOptFlag-active: rgba(0, 166, 126, 1);
--text-onPayOptFlag: rgba(28, 27, 27, 1);
--bg-payOptMethod: #ffffff;
--bg-payDetail: linear-gradient(180deg, #CEC2F4 0%, rgba(242, 239, 250, 0) 100%);
--bg-appyPromo: #bff5de;
--text-onAppyPromo: #000000;
--bg-bonusEvt: #bff5de;
--bdr-onBonusEvt: #156f4a;
--bg-eventDesc: #777777;
--text-onEventDesc: #ffffff;
/* deposit end*/


/* profile */
/* --profile-container-bg: #141915;
--profile-container-text : #ffffff;
--profile-muted-bg: #F2EFFA;
--field-text-color :#FFFFFF;

--note-bg: linear-gradient(180deg, #12312E 0%, #0A1E1C 100%) ;
--note-text-color: #ffffff; */
/* profile end*/
/* profile */
--profile-container-bg: var(--bg-3rd); 
/* #2a2329; */
--profile-container-text : var(--text);
--profile-muted-bg:  var(--bg-4th);
--field-text-color :var(--text);

--note-bg: var(bg-3rd) ;
 /* #2a2329; */
--note-text-color:  var(--text);
/* profile end*/
--text-muted :var(--text-3rd);
/* #c8c8c8; */


/* deposit end*/
 
/* table */
--pagination-item-color: #000000;
--pagination-item-bg: #E9E2FF;
--pagination-item-hover-bg: #5a585e;
--bdr-tr: var(--text-3rd);
/* --tbl-row-muted-bg: #c5c5c5; */
/* --tbl-row-dark-bg */
--bg-thead: var(--bg-3rd);
--text-thead: var(--text-2nd);
/* --tbl-row-light-text: 
#ffffff; */
/* --tbl-muted-dark-text */
--text-thMuted: #828282;
/* table end*/


/* member level */
--memberlvl-icon-bg: linear-gradient(to right, #DBBE91, #79461D);
--memberlvl-new-bg: #ffffff;
--memberlvl-label-color: #BAB6B6;
--memberlvl-value-color: #C5B7B7;
--memberlvl-desc-bg: radial-gradient(100% 100% at 49.95% 0%, #2A365F 0%, #141427 43.92%, #00011D 100%);
--memberlvl-desc-inner-bg: #0B0C30;
--memberlvl-desc-bg2: #FFA800; 
/* member level end*/


 





/* memo */
--memo-bg: #000000;
--memo-bd-color: #0d4c3e;
--memo-del-btn-bg: #F4F4F4;
--memo-del-btn-bd-color: #B1B6B6;
--memo-text-light: #808080;
--memo-text-dark: #f5f5f5;
--memo-text-darker: #ffffff;
/* memo end*/

 /*OLD*/
 
 

}