--text-muted :#c8c8c8;
--bg-secondary: #090909;
--container-bg: #182C21;
--container-text-color: #f5f5f5;
--section-title-color: radial-gradient(100% 946.75% at 0% 50%, #FFFFFF 0%, #EDC47E 100%);
--spicr-nav-color: #ffffff;

--modal-v1-bg: #000000;
--modal-v1-text-color: #ffffff;

/* header */
--header-bg: #000000;
--header-mob-bg: #0F2519;
--header-icon-bg: #393645;
--header-icon-color: #ffffff;
--mob-header-icon-bg: #393645;
--wallet-ref-icon-color: #E6DBD6;
--mob-header-color: #E6DBD6;
--topbar-bg: #0F2519;
--topbar-login-bg: #0F2519;
--topbar-login-text: #E6DBD6;
--header-btn-bg: linear-gradient(90deg, #1A9E61 0%, #47EFAC 52.67%, #1A9E61 100%);
--header-btn-text: #ffffff;
--game-bg-img:none;

--mainmenu-text-color: #9D813B;
--mobmenu-icon-color: #ffffff;
--ann-marquee: #fff;




/* header end*/

/* button */
--primary-btn-bg: linear-gradient(180deg, #EA6308 0%, #B42B09 100%);
--primary-btn-color: #ffffff;
--primary-btn-hover-bg: linear-gradient(180deg, #EA6308 0%, #B42B09 100%);
--primary-btn-gradient-bg: linear-gradient(180deg, #EA6308 0%, #B42B09 100%);
--muted-btn-bg: #8B8B8B;
--muted-btn-color: #ffffff;
--history-btn-bg: #241C3C;
--history-btn-color: #ffffff;
--history-btn-bd-color: #e227b2;
--logout-btn-bg: linear-gradient(180deg, #EA6308 0%, #B42B09 100%);
--logout-btn-color: #ffffff;

/* button end*/

/* promotion */
--promo-title-text-color: #eeeeee;
--promo-desc-text-color: #C7C9CA;
--promo-add-btn-bg: #D7D7D7;
--promo-add-btn-text-color: rgba(95, 95, 95, 1);
--promo-add-btn-hover-bg: #3e8e41;
--promo-add-btn-hover-text: #ffffff;
--promo-reg-btn-bg:  #352600;
/* promotion end*/

/* home */
--gameslider-item-bg: radial-gradient(100% 100% at 50% 0%, #5C5A5A 0%, rgba(0, 0, 0, 0) 100%);
--gameslider-item-active-bg: linear-gradient(180deg, #E4771F 0%, rgba(121, 70, 29, 0) 100%);
--gameslider-img-bg: #000000;
--gameslider-nav-bg: #000000;
--gameslider-nav-text: #cccccc;
--trx-title-bd-color: linear-gradient(180deg, #79461D 0%, rgba(121, 70, 29, 0) 100%);
--trx-title-box-bg: radial-gradient(100% 749.03% at 0% 44.74%, #1B1A1A 0%, #020316 100%);
--trx-title-active-bg: linear-gradient(270deg, #7956ED 0%, #395FFE 100%);
--trx-slider-text-color: #D9D9D9;
--trx-slider-bg: linear-gradient(180deg, #79461D 0%, rgba(121, 70, 29, 0) 100%);
--trx-slider-box-bg: radial-gradient(100% 749.03% at 0% 44.74%, #1B1A1A 0%, #020316 100%);
--trx-slider-gradient-title: linear-gradient(180deg, #A5A3A1 0%, #FEFEFE 37.29%, #ADABA9 70.1%, #FFFFFF 100%);
--contact-box-bg: radial-gradient(100% 100% at 50% 0%, #222987 0%, rgba(0, 0, 0, 0) 100%);
--contact-box-bd-color: #5F2FFA;
--contact-box-desc-1: #969595;
--contact-box-desc-2: #C5C5C5;
--withdraw-box-bg: linear-gradient(180deg, #29200D 0%, #000000 100%);
--deposit-box-bg: linear-gradient(180deg, #29200D 0%, #000000 100%);

--bg-promoContent:linear-gradient(158deg, #0F2519 0%, #2f744e 100%);
--home-promo-arrow-bg:#575656;
--home-promo-arrow-bd-color:#575656;


/* home end*/

/* carousel */
--carousel-dot-bg: #cccccc;
--carousel-dot-active-bg: #811C1B;
/* carousel end*/

/* member level */
--memberlvl-icon-bg: linear-gradient(to right, #DBBE91, #79461D);
--memberlvl-new-bg: #ffffff;
--memberlvl-label-color: #BAB6B6;
--memberlvl-value-color: #C5B7B7;
--memberlvl-desc-bg: radial-gradient(100% 100% at 49.95% 0%, #2A365F 0%, #141427 43.92%, #00011D 100%);
--memberlvl-desc-inner-bg: #0B0C30;
--memberlvl-desc-bg2: #FFA800;
--gold-lvl-bg: linear-gradient(90deg, #DBBE91 0%, rgba(121, 70, 29, 0.95) 100%);
--gold-lvl-text-color: #ffff00;
--new-lvl-bg: #ffffff;
--new-lvl-text-color: #ffffff;
/* member level end*/

/* profile */
--profile-container-bg: #2f2b34;
--profile-container-text : #ffffff;
--profile-muted-bg: #F2EFFA;
--field-text-color :#FFFFFF;

--note-bg: linear-gradient(180deg, #0D2317 0%, #000000 100%);
--note-text-color: #ffffff;
/* profile end*/




/* input fields */
--bg-input-disabled: #ffffff;
--bg-input: transparent;
--text-input: #ffffff;
--bg-modal: #ffffff;
--text-modal: #000000;
--bg-input: transparent;
--input-muted-hover-bd-color: #ffffff;
--input-muted-dark-bg: #d4d4d4;
--bdr-input: #b4b4b4;
--input-muted-dark-bd-color: #909191;
--input-icon-bg: #6435FA;
--input-icon-text: #55657e;
--toggle-btn-bg: #585858;
--toggle-btn-bd-color: #858586;
--file-input-bg: #0D2317;
--btn-file: #2F3233;
--bdr-onBtnFile: #ffffff;
--toggle-btn-active-bg: #F5FFEE;
--toggle-btn-color: #ffffff;
--toggle-btn-active-color: #00FF0A;
/* input fields end*/

/* tabmenu */

--tabmenu1-btn-color: #000000;
--tabmenu1-btn-active-color: #ffffff;
--tabmenu1-bg : linear-gradient(90deg, #F7D2A0 0%, #CF8429 100%);
--tabmenu1-active-bg: linear-gradient(180deg, #EA6308 0%, #B42B09 100%);
--tabmenu1-active-bd-color: transparent;
    





--tabmenu3-bg: linear-gradient(180deg, #242227 0%, #37333e 100%);
/* tabmenu end*/
/* table */
--pagination-item-color: #ffffff;
--pagination-item-bg: #0c0c0c;
--pagination-item-hover-bg: #c1a9dc;
--tbl-row-muted-bd-color: #D1D0D6;
--tbl-row-muted-bg: #c5c5c5;
--tbl-row-dark-bg: #0a0a0a;
--tbl-row-light-text: #ffffff;
--tbl-muted-dark-text: #828282;
/* table end*/

/* deposit */
--bg-payopt: #081A10;
--text-onPayopt: #f5f5f5;
--bg-payopt-active: linear-gradient(180deg, #00F9A7 0%, #00C97B 100%);
--text-onPayOpt-active: #000000;
--bdr-onPayOpt-active: transparent;
--bg-payOptFlag: rgba(128, 152, 146, 1);
--bg-payOptFlag-active: rgba(0, 166, 126, 1);
--text-onPayOptFlag: #ffffff;
--bg-payOptMethod: #241C3C;
--bg-payDetail: linear-gradient(180deg, #0D2317 0%, #000000 100%);
--bg-appyPromo: #bff5de;
--text-onAppyPromo: #000000; 
--bg-bonusEvt: #bff5de;
--bdr-onBonusEvt: #156f4a;
--bg-eventDesc: #777777;
--text-onEventDesc: #ffffff;
/* deposit end*/

/* referral */
--ref-close-icon-bg: #02c793;
--ref-lvl1-icon-bg: #8f96a1;
--ref-lvl1-icon-color: #000000;
--ref-lvl2-icon-bg: #8263ff;
--ref-lvl2-icon-color: #c9bdff;
--ref-lvl3-icon-bg: #02cd9b;
--ref-lvl3-icon-color: #5dd9b6;
--ref-content-color:  #ffffff;
/* referral end*/

/* memo */
--memo-bg: #0f2519;
--memo-bd-color: #1e412e;
--memo-del-btn-bg: #F4F4F4;
--memo-del-btn-bd-color: #B1B6B6;
--memo-text-light: #808080;
--memo-text-dark: #eaeaea;
--memo-text-darker: #cfcfcf;
/* memo end*/

/* checkbox */
--cbx-bg : #ffffff;
--cbx-color : #FFF1F4;
--cbx-bd-color : #ABABAB;
/* checkbox end*/

/* GameListing */
--provider-slider-arrow: #B6B6B6;
--provider-list-bg: #0B0B0C;
--provider-img-bd-color: #EA6308;
--game-search-input-bg: #242227;
--game-search-input-text: #ffffff;
--bg-labelHot: linear-gradient(180deg, #FF0000 0%, #E00A0A 84.37%);
--text-onLabelHot: #ffffff;
--bg-labelNew: linear-gradient(180deg, #3B37FD 0%, #0400C5 100%);
--text-onLabelNew: #ffffff;
--game-item-bg: #0B0B0C;
--sublobby-container-bg: #36343F;
--sublobby-container-text: #ffffff;
/* GameListing end*/

/* Lobby Game Listing*/
--lobby-gameitem-bg: #0B0B0C;
--lobby-gameitem-bd-color: #EA6308;
--bg-imgOverlay: #36343F;
/* Lobby Game Listing end*/

/* contactbox*/
--contactbox-bg: linear-gradient(90.63deg, rgba(28, 19, 68, 0) 2.37%, #221b0d 99.49%);
/* contactbox end*/

/* footer*/
--footer-bg: linear-gradient(180deg, #29200D 0%, #000000 100%);
--social-icons: #000000;
--footer-menu-text: #FFFFFF;
--footer-muted-text: #898989;
--footer-collapse-bg: #181818;
--footer-collapse-hover-bg: #181818; 
--footer-collapse-text: #FFFFFF;
--footer-collapse-hover-text: #ffffff;
--footer-collapse-arrow: #FFF;
--bottombar-active-bg: linear-gradient(180deg, #131313 0%, rgba(0, 0, 0, 1) 100%);
--bottombar-active-text: #ffffff;
/* footer end*/

/*modal*/
--modal-bg:#000000;
--modal-text-color: #ffffff;
--modal-close-color: #ffffff;
/*modal end*/

--popup-icon-bd-color : transparent;
--popup-icon-color : #A8A8A8;
--popup-icon-light-bg : #EFEBFA;
--popup-icon-text : #313131;
--sidenav-menu-text: #9B9BA8;


/*from css vars*/

--text-onPromoContent: white ;
--home-promo-arrow-bg:#575656;
--home-promo-arrow-bd-color:#575656;

--text-color: #ffffff; 
--text-dark-color: #ffffff;
--text-muted:  #5E5E5E;
--bg-color:#000000;
--nude-btn-color:#000000;
--nude-btn-bd-color:transparent;
--page-title-bd-color:  #5B5149;
--text-brand:#FF9FA4;

--h2-text-colorr: #AAA487;
--muted-bd-color: #eeeeee;
--muted-bg: #111111;
--page-title-bg: #000000;
--page-title-color: #AEAEAE;
--page-title-sm-bg: transparent;
--page-title-sm-color: #AEAEAE; 

--scroller-bg: rgb(106, 106, 106) darkgrey;
--bg-scrollbarTrack: #d9d9d9;

--bg-scrollbarThumb: radial-gradient(100% 100% at 50% 0%, #1b1a1a 0%, #000000 100%);
--bdr-scrollbarThumb: #d9d9d9;
 /* promotion */
--event-card-bg-color: #000000;
 /* promotion end*/
 
--tabmenu2-text-color : #838383;
--tabmenu2-active-text-color: #ffffff;
--tabmenu2-active-bd-color: #ef311f;

--tabmenu3-text-color : #f5f5f5;
--tabmenu3-active-text-color: #ffffff;
--tabmenu3-active-bd-color: #6435FA;

/* profile popup */
--popup-bg : #000000;
--popup-head-bg : #111513;
--popup-text-accent : #5E555A;
--popup-icon-bg : #252424;
--popup-info-bg : linear-gradient(180deg, #182C21 0%, rgba(24, 44, 33, 0) 86.98%, rgba(24, 44, 33, 0) 100%);
--popup-light-bg : #ffffff;
--popup-text-dark : #000000;
--popup-text-light : #ffffff;
/* profile popup end*/
  /*home*/
--lwd-shape-bg:#292828;
--ld-corner-bg: #3d3d3d;
/*home end*/ 
    
