--text-muted :#c8c8c8;
--bg-secondary: #090909;
--container-bg: linear-gradient(180deg, #282222 0%, rgba(50, 18, 13, 0.83) 100%);
--container-text-color: #f5f5f5;
--section-title-color: #E32A17;
--spicr-nav-color: #ffffff;

--modal-v1-bg: #171317;
--modal-v1-text-color: #ffffff;

/* header */
--header-bg: #120605;
--header-mob-bg: #120605;
--header-icon-bg: #1B1B1B;
--header-icon-color: #CF8429;
--mob-header-icon-bg: #000000;
--wallet-ref-icon-color: #18B861;
--mob-header-color: #D0C1FF;
--topbar-bg: linear-gradient(180deg, #353131 0%, #000000 100%);
--topbar-login-bg: linear-gradient(180deg, #1B1B1B 0%, #353131 100%);
--topbar-login-text: #ffffff;
--header-btn-bg: radial-gradient(104.92% 91.43% at 50% 91.43%, #F44A39 0%, #A80F00 51.91%, #840F17 100%);
--header-btn-text: #000000;
--game-bg-img:none;
--mainmenu-text-color: #FFCA7A;
--mobmenu-icon-color: #ffffff;
--ann-marquee: #fff;




/* header end*/

/* button */
--primary-btn-bg: linear-gradient(180deg, #FFC325 0%, #FF9C19 100%);
--primary-btn-color: #ffffff;
--primary-btn-hover-bg: #FF4136;
--primary-btn-gradient-bg: linear-gradient(270deg, #7956ED 0%, #395FFE 100%);
--muted-btn-bg: #8B8B8B;
--muted-btn-color: #ffffff;
--history-btn-bg: #241C3C;
--history-btn-color: #ffffff;
--history-btn-bd-color: #e227b2;
--logout-btn-bg: linear-gradient(180deg, #7F0C0F 32.93%, #DE413A 96.51%);
--logout-btn-color: #ffffff;

/* button end*/

/* promotion */
--promo-title-text-color: #ffffff;
--promo-desc-text-color: #ACACAC;
--promo-add-btn-bg: #D7D7D7;
--promo-add-btn-text-color: rgba(95, 95, 95, 1);
--promo-add-btn-hover-bg: #3e8e41;
--promo-add-btn-hover-text: #ffffff;
--promo-reg-btn-bg:  linear-gradient(180deg, #713F38 0%, rgba(0, 0, 0, 0) 100%);
/* promotion end*/

/* home */
--gameslider-item-bg: radial-gradient(100% 100% at 50% 0%, #5C5A5A 0%, rgba(0, 0, 0, 0) 100%);
--gameslider-item-active-bg: linear-gradient(180deg, #E4771F 0%, rgba(121, 70, 29, 0) 100%);
--gameslider-img-bg: #000000;
--gameslider-nav-bg: #000000;
--gameslider-nav-text: #cccccc;
--trx-title-bd-color: linear-gradient(180deg, #79461D 0%, rgba(121, 70, 29, 0) 100%);
--trx-title-box-bg: radial-gradient(100% 749.03% at 0% 44.74%, #1B1A1A 0%, #020316 100%);
--trx-title-active-bg: linear-gradient(270deg, #7956ED 0%, #395FFE 100%);
--trx-slider-text-color: #D9D9D9;
--trx-slider-bg: linear-gradient(180deg, #79461D 0%, rgba(121, 70, 29, 0) 100%);
--trx-slider-box-bg: radial-gradient(100% 749.03% at 0% 44.74%, #1B1A1A 0%, #020316 100%);
--trx-slider-gradient-title: linear-gradient(180deg, #A5A3A1 0%, #FEFEFE 37.29%, #ADABA9 70.1%, #FFFFFF 100%);
--contact-box-bg: radial-gradient(100% 100% at 50% 0%, #222987 0%, rgba(0, 0, 0, 0) 100%);
--contact-box-bd-color: #5F2FFA;
--contact-box-desc-1: #969595;
--contact-box-desc-2: #C5C5C5;
--withdraw-box-bg: linear-gradient(180deg, #262626 0%, #010101 100%);
--deposit-box-bg: linear-gradient(180deg, #262626 0%, #010101 100%);

--bg-promoContent:linear-gradient(180deg, #262626 0%, #010101 100%);
--home-promo-arrow-bg:#575656;
--home-promo-arrow-bd-color:#575656;

/* home end*/

/* carousel */
--carousel-dot-bg: #cccccc;
--carousel-dot-active-bg: #0b72e7;
/* carousel end*/

/* member level */
--memberlvl-icon-bg: linear-gradient(to right, #DBBE91, #79461D);
--memberlvl-new-bg: #ffffff;
--memberlvl-label-color: #BAB6B6;
--memberlvl-value-color: #C5B7B7;
--memberlvl-desc-bg: radial-gradient(100% 100% at 49.95% 0%, #2A365F 0%, #141427 43.92%, #00011D 100%);
--memberlvl-desc-inner-bg: #0B0C30;
--memberlvl-desc-bg2: #FFA800;
--gold-lvl-bg: linear-gradient(90deg, #DBBE91 0%, rgba(121, 70, 29, 0.95) 100%);
--gold-lvl-text-color: #ffff00;
--new-lvl-bg: #ffffff;
--new-lvl-text-color: #ffffff;
/* member level end*/

/* profile */
--profile-container-bg: #111111;
--profile-container-text : #ffffff;
--profile-muted-bg: #F2EFFA;
--field-text-color :#FFFFFF;

--note-bg: #111111;
--note-text-color: #ffffff;
/* profile end*/




/* input fields */
--bg-input-disabled: #ffffff;
--bg-input: transparent;
--text-input: #ffffff;
--bg-modal: #ffffff;
--text-modal: #000000;
--bg-input: transparent;
--input-muted-hover-bd-color: #ffffff;
--input-muted-dark-bg: #d4d4d4;
--bdr-input: #b4b4b4;
--input-muted-dark-bd-color: #909191;
--input-icon-bg: #6435FA;
--input-icon-text: #55657e;
--toggle-btn-bg: #585858;
--toggle-btn-bd-color: #858586;
--file-input-bg: #E7DFFF;
--btn-file: #2F3233;
--bdr-onBtnFile: #ffffff;
--toggle-btn-active-bg: #F5FFEE;
--toggle-btn-color: #ffffff;
--toggle-btn-active-color: #00FF0A;
/* input fields end*/

/* tabmenu */

--tabmenu1-btn-color: #F6935A;
--tabmenu1-btn-active-color: linear-gradient(90deg, #ffe8c9 0%, #d48019 100%);
--tabmenu1-bg : #000000;
--tabmenu1-active-bg: radial-gradient(104.92% 91.43% at 50% 91.43%, #F44A39 0%, #A80F00 51.91%, #840F17 100%);
--tabmenu1-active-bd-color: linear-gradient(180deg, #F4301D 0%, rgba(35, 16, 14, 0) 100%);
    





--tabmenu3-bg: #111111;
/* tabmenu end*/
/* table */
--pagination-item-color: #000000;
--pagination-item-bg: #E9E2FF;
--pagination-item-hover-bg: #c1a9dc;
--tbl-row-muted-bd-color: #D1D0D6;
--tbl-row-muted-bg: #c5c5c5;
--tbl-row-dark-bg: #0a0a0a;
--tbl-row-light-text: #ffffff;
--tbl-muted-dark-text: #828282;
/* table end*/

/* deposit */
--bg-payopt: #1F1F1F;
--text-onPayopt: #ffffff;
--bg-payopt-active: linear-gradient(180deg, #131313 0%, rgba(0, 0, 0, 0) 100%);
--text-onPayOpt-active: #ffffff;
--bdr-onPayOpt-active: #B11218;
--bg-payOptFlag: rgba(128, 152, 146, 1);
--bg-payOptFlag-active: rgba(0, 166, 126, 1);
--text-onPayOptFlag: #ffffff;
--bg-payOptMethod: #241C3C;
--bg-payDetail: linear-gradient(180deg, #5a585e 0%, rgba(242, 239, 250, 0) 100%);
--bg-appyPromo: #bff5de;
--text-onAppyPromo: #000000; 
--bg-bonusEvt: #bff5de;
--bdr-onBonusEvt: #156f4a;
--bg-eventDesc: #777777;
--text-onEventDesc: #ffffff;
/* deposit end*/

/* referral */
--ref-close-icon-bg: #02c793;
--ref-lvl1-icon-bg: #8f96a1;
--ref-lvl1-icon-color: #000000;
--ref-lvl2-icon-bg: #8263ff;
--ref-lvl2-icon-color: #c9bdff;
--ref-lvl3-icon-bg: #02cd9b;
--ref-lvl3-icon-color: #5dd9b6;
--ref-content-color:  #ffffff;
/* referral end*/

/* memo */
--memo-bg: #F1F1F1;
--memo-bd-color: #D0D0D0;
--memo-del-btn-bg: #F4F4F4;
--memo-del-btn-bd-color: #B1B6B6;
--memo-text-light: #808080;
--memo-text-dark: #524D4D;
--memo-text-darker: #212223;
/* memo end*/

/* checkbox */
--cbx-bg : #ffffff;
--cbx-color : rgba(95, 46, 250, 1);
--cbx-bd-color : #ABABAB;
/* checkbox end*/

/* GameListing */
--provider-slider-arrow: #B6B6B6;
--provider-list-bg: #000000;
--provider-img-bd-color: #7A7A7A;
--game-search-input-bg: #292929;
--game-search-input-text: #ffffff;
--bg-labelHot: linear-gradient(180deg, #FF0000 0%, #E00A0A 84.37%);
--text-onLabelHot: #ffffff;
--bg-labelNew: linear-gradient(180deg, #3B37FD 0%, #0400C5 100%);
--text-onLabelNew: #ffffff;
--game-item-bg: #131313;
--sublobby-container-bg: linear-gradient(180deg, #282222 0%, rgba(50, 18, 13, 0.83) 100%);
--sublobby-container-text: #000000;
/* GameListing end*/

/* Lobby Game Listing*/
--lobby-gameitem-bg: #010101;
--lobby-gameitem-bd-color: #B11218;
--bg-imgOverlay: linear-gradient(180deg, rgba(0, 0, 0, 0) 12.19%, #020316 85.19%);
/* Lobby Game Listing end*/

/* contactbox*/
--contactbox-bg: linear-gradient(90.63deg, rgba(28, 19, 68, 0) 2.37%, #000000 99.49%);
/* contactbox end*/

/* footer*/
--footer-bg: #171317;
--social-icons: #B6B092;
--footer-menu-text: #FFFFFF;
--footer-muted-text: #AAAAAA;
--footer-collapse-bg: #343436;
--footer-collapse-hover-bg: #272727;
--footer-collapse-text: #FFFFFF;
--footer-collapse-hover-text: #ffffff;
--footer-collapse-arrow: #FFF;
--bottombar-active-bg: linear-gradient(180deg, #131313 0%, rgba(0, 0, 0, 1) 100%);
--bottombar-active-text: #ffffff;
/* footer end*/

/*modal*/
--modal-bg:#171317;
--modal-text-color: #ffffff;
--modal-close-color: #ffffff;
/*modal end*/

--popup-icon-bd-color : #000000;
--popup-icon-color : #FFCA7A;
--popup-icon-light-bg : #EFEBFA;
--popup-icon-text : #313131;
--sidenav-menu-text: #ABABAB;


/*from css vars*/

--text-onPromoContent: white ;
--home-promo-arrow-bg:#575656;
--home-promo-arrow-bd-color:#575656;

--text-color: #ffffff; 
--text-dark-color: #ffffff;
--text-muted: #5E5E5E; 
--bg-color:#120605;
--nude-btn-color: rgb(255 255 255 / 87%);
--nude-btn-bd-color: rgb(255 255 255 / 40%);
--page-title-bd-color:  #DE413A;
--text-brand:#FFB120;

--h2-text-colorr: #AAA487;
--muted-bd-color: #eeeeee;
--muted-bg: #111111;
--page-title-bg: #000000;
--page-title-color: #ffffff;
--page-title-sm-bg: transparent;
--page-title-sm-color: #ffffff; 

--scroller-bg: rgb(106, 106, 106) darkgrey;
--bg-scrollbarTrack: #d9d9d9;

--bg-scrollbarThumb: radial-gradient(100% 100% at 50% 0%, #1b1a1a 0%, #000000 100%);
--bdr-scrollbarThumb: #d9d9d9;
 /* promotion */
--event-card-bg-color: #110200;
 /* promotion end*/
 
--tabmenu2-text-color : #838383;
--tabmenu2-active-text-color: #000000;
--tabmenu2-active-bd-color: #ef311f;

--tabmenu3-text-color : #f5f5f5;
--tabmenu3-active-text-color: #ffffff;
--tabmenu3-active-bd-color: #6435FA;

/* profile popup */
--popup-bg : #171317;
--popup-head-bg : #000000;
--popup-text-accent : #6B6A6B;
--popup-icon-bg : #000000;
--popup-info-bg : linear-gradient(180deg, #7F0C0F 32.93%, #DE413A 96.51%);
--popup-light-bg : #ffffff;
--popup-text-dark : #000000;
--popup-text-light : #ffffff;
/* profile popup end*/
  /*home*/
--lwd-shape-bg:#000000;
--ld-corner-bg: #262626;
/*home end*/  