
.avatar.gold,.gold .lvl-icon{ 
    background: var(--gold-lvl-bg);
    color:var(--gold-lvl-text-color);
}

.avatar.new, .new .lvl-icon{ 
 
    background: var(--new-lvl-bg);
    color:var(--new-lvl-text-color);

}
 
.avatar.regular, .regular .lvl-icon{ 
 
    background: var(--new-lvl-bg);
    color:var(--new-lvl-text-color);

}
 
.avatar.silver, .silver .lvl-icon{ 
 
    background: var(--new-lvl-bg);
    color:var(--new-lvl-text-color);

}
 
.avatar.platinum, .platinum .lvl-icon{ 
 
    background: var(--new-lvl-bg);
    color:var(--new-lvl-text-color);

}
 
 