 
  .providersWrapper{
    background: var(--bg-lobbyGame);
    color : var(--text-onLobbyGame);
    // .provider-name{
    //   color: #9F9696;
    // } 
  }

  .providerImgWrapper{

    border-color: var(--bdr-onLobbyGame);
  }
  
  .searchInput{
    background: var(--bg);
    color: var(--text-3rd);
  }
 
 
 