 .gameBoxProvider3{
  border-color: #525252;
  background: var(--bg);
  border: 1px solid #525252; 
  /* --bg-labelHot */
--bg-labelHot: linear-gradient(180deg, #FF0000 0%, #E00A0A 84.37%);
/* --text-onLabelHot */
--text-onLabelHot: #ffffff;
/* --bg-labelNew */
--bg-labelNew: linear-gradient(180deg, #3B37FD 0%, #0400C5 100%);
--text-onLabelNew: #ffffff;
/* --text-onLabelNew */
 }
    .gameInfo{
    background: #000000B2;
  }

 .labelHot{
  background: var(--bg-labelHot);
  color: var(--text-onLabelHot);
}

.labelNew{
    background: var(--bg-labelNew);  
    color: var(--text-onLabelNew);
}
 
   
.adjust-transform-origin{ 
  transform-origin: center;
  /*this is a utility class for the transform element, use this TWcss type naming 
   is so that from   html can see clearer together with the TWcss tranform classes
  */
  /*mobile - 3n follow the grid columns on mobile */
  &:nth-child(3n+1) {
    
    transform-origin: left;
   }
   &:nth-child(3n) {
    transform-origin: right;
   }
  
   /*desktop all center */
   @screen sm{
    transform-origin: center!important; 
   }

}